*{
	margin: 0px;
	padding: 0px;
}
header{
	background-size: 50%;
	padding: 5% 0px;
	background-image: url("http://www.criarmeme.com.br/meme/meme-2140--nossa-q-legal!!!.jpg");
	background-position: 0px  -200px;
}